/* General Styles */
body {
    font-family: 'Spline Sans Mono', sans-serif;
    margin: 0;
    padding-bottom: 3rem;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}

/* Header Styles */
.header {
    background-color: #3d405b;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 40px;
    margin-left: 20px;
}

.navbar {
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 0.2rem;
    padding: 0.2rem;
}

.navbar li {
    cursor: pointer;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.maintenance {
    margin-left: 20px;
    background-color: #f44336;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.maintenance:hover {
    background-color: #d32f2f;
}

/* Main Content Styles */
.main-content {
    padding: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style: none;
    left: 0.5rem;
    right: 0.5rem;
    padding: 0;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    flex: 1 1 calc(33.333% - 20px);
}

.card .title {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.card .description {
    font-size: 1em;
    color: #666;
}

.card .extra-info {
    font-size: 0.875em;
    color: #999;
    margin-top: 10px;
}

/* Footer Styles */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.footer .imprint {
    background-color: #4CAF50;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.footer .imprint a {
    color: white;
    text-decoration: none;
}

.footer .imprint:hover {
    background-color: #45a049;
}
